* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Overpass:ital,wght@1,300&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

.wrapper {
  background-color: hsl(217, 54%, 11%);
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.card {
  width: 400px;
  padding: 1.5rem;
  background-color: hsl(216, 50%, 16%);
  color: hsl(215, 51%, 70%);
  border-radius: 1rem;
}

.card .card-img {
  margin-bottom: 1.5rem;
}

.card .card-img img {
  width: 100%;
  border-radius: 1rem;
}

.card .card-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.card .card-about h1 {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}

.card .card-about p {
  font-weight: 300;
  font-size: 1.2rem;
}

.card .card-stats{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.card .card-stats .card-stats-rate, .card .card-stats .card-stats-days{
    display: flex;
    gap: 0.6rem;
    font-size: 0.7rem;
    font-weight: lighter;
}
.card .card-line{
    width: 100%;
    background-color: hsl(215, 32%, 27%);
    height: 1px;
    margin-bottom: 1.5rem;
}

.card .card-creator{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.card .card-creator img{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.card .card-creator span{
    color: #fff;
}

@media screen and (max-width:400px) {
    .wrapper {
        gap: 1rem;
      }
      .card {
        width: 250px;
        padding: 1rem;
      }
      .card .card-img {
        margin-bottom: 1rem;
      }
      .card .card-about {
        gap: 1rem;
        margin-bottom: 1rem;
      }
      .card .card-about h1 {
        color: #fff;
        font-weight: 500;
        font-size: 1.3rem;
      }
      .card .card-about p {
        font-weight: 300;
        font-size: 1rem;
      }
      .card .card-stats{
        margin-bottom: 1rem;
    }
    .card .card-stats .card-stats-rate, .card .card-stats .card-stats-days{
        gap: 0.6rem;
        font-size: 0.5rem;
        font-weight: 300;
    }
    .card .card-stats .card-stats-days{
        width: 90px;
    }
    .card .card-line{
        margin-bottom: 1rem;
    }
    .card .card-creator{
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 400;
    }
    .attribution{
        min-width: 80%;
    }
    

}